.first-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 40px;
    padding-bottom: 30px;
}

.first-section--text, .first-section--box {
    color: var(--text-color);
    background: var(--container-background);
    border-radius: 20px;
}

.first-section--text {
    max-width: 650px;
    min-height: 500px;
    text-align: justify;
    margin-top: 150px;
    padding: 30px;
}

.first-section--text h2 {
    font-weight: 800;
    font-size: 3rem;
    padding-bottom: 30px;
}

.first-section--text p {
    font-size: 1.2rem;
    padding-bottom: 20px;
}

.first-section--nav-containers {
    max-width: 600px;
    height: 500px;
    margin: 0 20px;
}

.first-section--box {
    margin: 20px 0;
    padding: 30px 15px;
}

.first-section--box:first-child, .first-section--box:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.first-section--box:first-child::after, .first-section--box:last-child::after {
    content: "";
    width: 0;
    height: 100%;
    background: var(--login-background);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    transition: .5s ease-in-out;
}

.first-section--box:first-child:hover:after, .first-section--box:last-child:hover::after {
    width: 100%;
}

.first-section--box h1 {
    font-size: 2.4rem;
}

.first-section--box p {
    font-size: 2.2rem;
    z-index: 1;
}

.first-section--box-icon-more {
    font-size: 2rem;
    z-index: 1;
}

.first-section--swiper-slide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.first-section--swiper-slide h1 {
    position: relative;
    margin-right: 20px;
}

.first-section--swiper-slide h1::after {
    content: "";
    height: 100%;
    width: 3px;
    position: absolute;
    bottom: 0;
    right: -10px;
    background: var(--text-color);
}

@media screen and (max-width: 1249px) {
    .first-section--text {
        margin-top: 140px;
    }
}

@media screen and (max-width: 700px) {
    .first-section--text, 
    .first-section--nav-containers {
        width: 500px;
    }

    .first-section--nav-containers {
        height: 400px;
    }

    .first-section--box h1 {
        font-size: 2rem;
    }

    .first-section--box p {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 600px) {
    .first-section--text, 
    .first-section--nav-containers {
        width: 400px;
    }

    .first-section--box h1 {
        font-size: 1.6rem;
    }

    .first-section--box p {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 500px) {
    .first-section--text, 
    .first-section--nav-containers {
        width: 330px;
    }

    .first-section--box h1 {
        font-size: 1.3rem;
    }

    .first-section--box p {
        font-size: 1.1rem;
    }
}