/* header */

.header--bar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background: transparent;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.header--bar::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    -o-filter: blur(4px);
    filter: blur(4px);
    z-index: 1;
}

.header--title, .header--nav-and-login {
    z-index: 2;
}

.header--title {
    width: 400px;
    min-width: 200px;
    margin-left: 30px;
    margin-right: 100px;
}

.header--title-h1, .header--title--icon {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
}

.header--nav-and-login {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header--nav-a, .header--login, .header--menu-icon, .header--signup {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.header--nav-a {
    margin-left: 50px;
    margin-right: 60px;
    position: relative;
    transition: .1s ease-in-out;
}

.header--nav-a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--login-background-full-opacity);
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: .2s ease-in-out;
}

.header--nav-a:hover {
    color: var(--text-color-hover);
}

.header--nav-a:hover::after {
    width: 100%;
}

.header--nav-a.active {
    color: var(--text-color-active);
}

.header--nav-a.active::after {
    background: var(--text-color-active);
    width: 100%;
}

.header--menu-and-login {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header--menu-icon {
    margin-right: 20px;
    font-size: 1.6rem;
    display: none;
    cursor: pointer;
}

.header--login, .header--signup {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    background-color: var(--login-background);
    border-radius: 10px;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.header--login:hover, .header--signup:hover {
    background-color: var(--login-background-full-opacity);
}

.header--login:active, .header--signup:active {
    transform: scale(0.95);
}

.header--login-and-signup {
    color: var(--text-color);
}

@keyframes buttonBounce {
    0%, 100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-2px);
    }

    50% {
        transform: translateX(2px);
    }

    75% {
        transform: translateX(-2px);
    }
}

.header--login:active::after, .header--signup:active::after {
    content: "";
    animation: buttonBounce .3s ease;
}

.header--signup {
    margin-left: 20px;
}

@media screen and (max-width: 1400px) {
    .header--login a, .header--signup a {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .header--title-h1, .header--title--icon {
        font-size: 2.7rem;
    }

    .header--nav-a {
        display: none;
    }

    .header--menu-icon {
        display: flex;
    }

    .header--login, .header--signup {
        padding: 7px 12px;
        font-size: 1.3rem;
    }

    .header--login a, .header--signup a {
        display: inline;
    }
}

@media screen and (max-width: 1000px) {
    .header--title {
        margin-right: 30px;
    }
    
    .header--title-h1, .header--title--icon {
        font-size: 2.6rem;
    }
}

@media screen and (max-width: 800px) {
    .header--title-h1, .header--title--icon {
        font-size: 2.5rem;
    }

    .header--login, .header--signup {
        padding: 9px 11px;
        font-size: 1.3rem;
    }

    .header--login a, .header--signup a {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .header--title {
        width: 630px;
    }

    .header--title-h1, .header--title--icon {
        font-size: 2.4rem;
    }

    .header--signup {
        margin-left: 10px;
    }

    .header--login svg, .header--signup svg {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 600px) {
    .header--title-h1 {
        content: "V";
    }
}

@media screen and (max-width: 400px) {
    .header--title {
        width: 630px;
        margin-right: 30px;
        margin-left: 10px;
    }
}

/* footer */

.footer {
    color: var(--text-color);
    background: black;
    position: relative;
}

.footer::after {
    content: "";
    width: 100%;
    height: 50px;
    position: absolute;
    top: -50px;
    left: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.footer-row:first-of-type {
    padding-top: 100px;
}

.footer-row h2 {
    font-size: 2.4rem;
}

.footer-icons {
    font-size: 1.7rem;
    margin: 0 5px;
    cursor: pointer;
    color: var(--text-color);
}

.footer-row p {
    position: relative;
    font-size: 1rem;
}

.footer-row p::before {
    content: "";
    width: 100%;
    height: 1px;
    background: var(--text-color);
    position: absolute;
    top: -10px;
    left: 0;
}

@media screen and (max-width:1200px) {
    .footer-row h2 {
        font-size: 2.2rem;
    }
}

@media screen and (max-width:1000px) {
    .footer-row h2 {
        font-size: 2rem;
    }
}

@media screen and (max-width:800px) {
    .footer-row {
        flex-direction: column;
    }

    .footer-row h2 {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }

    .footer-icons {
        font-size: 1.5rem;
    }

    .footer-row p {
        font-size: .8rem;
    }    
}

@media screen and (max-width:600px) {
    .footer-row h2 {
        font-size: 1.6rem;
    }
}