.header--bar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background: transparent;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.header--bar::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    -o-filter: blur(4px);
    filter: blur(4px);
    z-index: 1;
}

.header--title, .header--nav-and-login {
    z-index: 2;
}

.header--title {
    width: 400px;
    margin-left: 30px;
    margin-right: 100px;
}

.header--title-h1, .header--title--icon {
    font-size: 3.5rem;
    color: var(--text-color);
}

.header--nav-and-login {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header--nav-a, .header--login, .header--menu-icon {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.header--nav-a {
    margin-left: 50px;
    margin-right: 60px;
    position: relative;
    transition: .1s ease-in-out;
}

.header--nav-a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--login-background-full-opacity);
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: .2s ease-in-out;
}

.header--nav-a:hover {
    color: var(--text-color-hover);
}

.header--nav-a:hover::after {
    width: 100%;
}

.header--nav-a:active {
    color: var(--text-color-active);
}

.header--nav-a:active::after {
    background: var(--text-color-active);
    width: 100%;
}

.header--menu-and-login {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header--menu-icon {
    margin-right: 20px;
    font-size: 1.6rem;
    display: none;
    cursor: pointer;
}

.header--login {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    background-color: var(--login-background);
    border-radius: 10px;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.header--login:hover {
    background-color: var(--login-background-full-opacity);
}

.header--login:active {
    transform: scale(0.95);
}

@keyframes buttonBounce {
    0%, 100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-2px);
    }

    50% {
        transform: translateX(2px);
    }

    75% {
        transform: translateX(-2px);
    }
}

.header--login:active::after {
    content: "";
    animation: buttonBounce .3s ease;
}

@media screen and (max-width: 1200px) {
    .header--title-h1, .header--title--icon {
        font-size: 3rem;
    }

    .header--nav-a {
        display: none;
    }

    .header--menu-icon {
        display: flex;
    }

    .header--login {
        padding: 7px 12px;
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 1000px) {
    .header--title-h1, .header--title--icon {
        font-size: 2.8rem;
    }
}

@media screen and (max-width: 800px) {
    .header--title-h1, .header--title--icon {
        font-size: 2.2rem;
    }

    .header--login {
        padding: 9px 11px;
        font-size: 1.3rem;
    }

    .header--login a {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .header--title {
        width: 600px;
    }

    .header--title-h1, .header--title--icon {
        font-size: 2rem;
    }
}