.navbar--container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--login-background-full-opacity);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

.navbar--menu-icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.navbar--menu--icon {
    font-size: 2rem;
    margin: 30px;
    cursor: pointer;
}

.navbar--nav-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.navbar--container h1, .navbar--title--icon {
    font-size: 4rem;
}

.navbar--container h1 {
    text-shadow: 0 0 10px var(--text-color-active);
    margin-bottom: 50px;
    text-align: center;
}

.navbar--nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar--nav a {
    color: var(--text-color);
    font-size: 2.6rem;
    margin-bottom: 40px;
    position: relative;
    transition: .1s ease-in-out;
    text-align: center;
}

.navbar--nav a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--text-color);
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: .2s ease-in-out;
}

.navbar--nav a:hover {
    color: var(--text-color-hover);
}

.navbar--nav a:hover::after {
    width: 100%;
}

.navbar--nav a:active {
    color: var(--text-color-active);
}

.navbar--nav a:active::after {
    background: var(--text-color-active);
    width: 100%;
}

@media screen and (max-width: 780px) {
    .navbar--container h1, .navbar--title--icon {
        font-size: 3rem;
    }

    .navbar--nav a {
        font-size: 2.3rem;
    }
}